/*  Colors:;

#FCF8F1 - Light
#EE5A59 - FlameRed
#F89F4D - Orange
#25264C - DarkBlue
#34355E

#C9BEAF dark tan
 */


*{
	-moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */

	font-family: 'Roboto Slab', serif;
	color: #fff;
}

body{
	background-color: #FCF8F1;
}


h1, h2, h3, h4, h5 {

}

h1 {
	color: #EE5A59;
	font-weight: 400;
	font-size: 3.5em;
	margin: 0;
}

a h1:hover {
	color: #F89F4D;
}

h2 {
	font-weight: 300;
	font-size: 32px;
	/* color: #ddd; */
}

h3 {
	color: #25264C;
	font-weight: 600;
	font-size: 1em;
	margin: 0;
	letter-spacing: .1em;
}

a{
	text-decoration: none;
}

li {
	list-style: none;
}

li:hover{

}

ul {
	padding: 0;
}


.container,
.overlay-container {
	width: 100%;
	height: 100vh;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center; flex-direction:;
}

.overlay-container {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	background-color: #EE5A59;
	display: none;
}
.overlay-container h1,
.overlay-container li{
	color: #FCF8F1;

}
.hud {
	position: absolute;
	height: auto;
	padding: 40px;
	left: 0;
	top: 0;
	z-index: 4;
	flex-direction: row;
	justify-content: space-between;
	/* border-bottom: 1px solid #fff; */
	/*background-color: yellow;*/
}


#menu-button{
	position: absolute;
	left: 50px;
	top: 50px;
}
.menu,
.board-wrap {
	display: none;
}



.board {
	width: 90vw;
	height: 90vw;
	max-width: 480px;
	max-height: 480px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* background-color: #25264C; */
	text-align: center;
}

#tictac .board{
	border-radius: 10px;
	border: 4px solid #EE5A59;
	/* background-color: #25264C; */
}

#connect .board{
	border-radius: 10px;
	background-color: #34355E;
	padding: 20px;
}

.roundedges{
	border-radius: 8px;
	background-color: #25264C;
}

.row{
	flex: 1;
	/* height: 33%; */
	display: flex;
}

.tictac-square{
	flex: 1;
	display: inline-block;
	border: 2px solid #EE5A59;
}

.tictac-square:hover{
	background-color: #fff;
	cursor: pointer;
}



.connect-square{
	flex: 1;
	display: inline-block;
	/* cursor: cell; */
	background:
     url(../images/connect-default.svg)    /* image */
     center / 99% 99% 				/* position / size */
     no-repeat;
}

.column-select{
	flex: 1;
	min-width: 80px;
	display: inline-block;
    background:
     url(../images/col-indicator.svg)    /* image */
     bottom / 40% 40% 				/* position / size */
     no-repeat;
	/* background-color: #ddd; */
}

.column-select:hover{
	background:
     url(../images/col-indicator-hover.svg)    /* image */
     center / 40% 40% 				/* position / size */
     no-repeat;
}

.column-select-row{
	height: 80px;
	width: 100%;
	flex: 1;
	display: inline-flex;
	padding: 20px;
}



.p1-tictac {
	background:
     url(../images/sprite-x.svg)    /* image */
     center / 80% 80% 				/* position / size */
     no-repeat;                		/* repeat */
}

.p2-tictac {
	background:
     url(../images/sprite-o.svg)    /* image */
     center / 80% 80% 				/* position / size */
     no-repeat;                		/* repeat */
}

.p1-connect-temp{
	background:
     url(../images/connect-placeholder.svg)    /* image */
     center / 100% 100% 				/* position / size */
     no-repeat;                		/* repeat */
}




#move-circle-p1,
.p1-connect{
	background:
     url(../images/connect-p1.svg)    /* image */
     center / 100% 100% 				/* position / size */
     no-repeat;                		/* repeat */
}

#move-circle-p2,
.p2-connect {
	background:
     url(../images/connect-p2.svg)    /* image */
     center / 100% 100% 				/* position / size */
     no-repeat;                		/* repeat */
}



#move-circle-p1,
#move-circle-p2 {
	position: absolute;
	float: left;
	display: inline-block;
	left: -1000px;
	top: -1000px;
}
#winner-text{
	margin-bottom: 40px;
	color: #fff;
}
#winner-text>h3{
	margin: 10px 0 0 0;
}
#gameover ul li h1{
	font-size: 2em;
	margin: .5em 0;
	/*color: #ccc;*/
}

#settings{
	display: inline-block;
	align-self: flex-start;
    /*background-color: red;*/
}



#testbutton{
	color: #fff;
	background-color: #000;
	padding: 5px;
	width: 100px;
	position: absolute;
}


.dropdown{
	display: none;
}
.dropdown a li{
	margin: 20px 0 20px 0;
}

.dropdown ul a li h1{
	/* font-weight: 600; */
	margin-top: 5px;
	color:#25264C;
}
.dropdown ul a li h1:hover{
	color:#fff;
}
.dropdown form{
	margin-top: 20px;
}
#save-settings{
	padding: 10px;
	width: 200px;
	border-radius: 4px;
	background-color: #25264C;
	margin: 30px auto 0 auto;
}


.player1-name,
.player2-name {
	font-size: 1.4em;
	color: #EE5A59;
	margin-right: 5px;
	display: none;
}
.player1-score,
.player2-score {
	font-size: 1.6em;
	font-weight: 700;
	color: #25264C;
	margin: 0 5px;
	display: none;
}
#score{
	display: flex;
	justify-content: center;
	height: 50px;
	position: relative;
	/* display: inline; */

	align-self: flex-start;
}
#score li{
	display: inline;
	margin: 0 20px;
}

#score h3{
	margin-bottom: 10px;
}


#play-again {
	text-align: center;
	display: flex;
	justify-content: center;
	/* padding: 20px; */
}
#play-again a span{
	font-weight: 600;
	font-size: 32px;
	color: #25264C;
	display: none;
}

#play-again a span:hover{
	color: #EE5A59;
}


.game-piece {
	position: absolute;
	background-color: red;
	float: left;
}


input[type="text"]{
	width: 90vw;
	/*height: 90vw;*/
	padding: 20px;
	max-width: 480px;

	font-size: 2em;
	text-align: center;
	color: #EE5A59;
	background-color: #FCF8F1;
	border: none;
	margin: 10px 0 60px 0;
}


.dropdown input[type="text"]{
	width: 50vw;
	/*height: 90vw;*/
	padding: 10px;
	max-width: 260px;

	font-size: 1em;
	text-align: center;
	color: #EE5A59;
	background-color: #FCF8F1;
	border: none;
	margin: 10px 0 40px 0;
}



::-webkit-input-placeholder{
	color: #EE5A59;
}
:-moz-placeholder{
	color: #EE5A59;
}
::-moz-placeholder{
	color: #ddd;
}
:-ms-input-placeholder{
	color: #EE5A59;
}
:placeholder{
	color: #EE5A59;
}




/*///////////////////////////////////////////////*/
/*Animations*/

.pulse {
  animation: pulse 1.2s ease-in-out infinite;
}

.flash {
  animation: flash .4s ease-out;
  animation-iteration-count: 3;
}


@keyframes pulse {
  0%, 100% {
    opacity: 1;
    transform: translate(0, 0);
  }
  50% {
    opacity: 0.4;
    transform: translate(0, 15px);
  }
}


@keyframes flash {
  0%{
	background-size: initial;
  }
  100% {
	background-size: 0px 0px;
  }
}

